/* Home-Page CSS */

.homePage {
  text-align: center;
  margin-top: 50px;
}
 .homePage main {
  margin-top: 50px; /* Add a top margin to avoid content overlay */
  height: 500px;
  background: #ccc;
}


 .homePage nav {
  display: flex;
}

 .homePage nav > section {
  width:50%;
}

.homePage section {
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
}

.homePage div {
  margin: auto;
  width: fit-content;
  border: transparent;

}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: transparent;
}

ol {
  list-style-type: none; /* Remove default numbering */
}

#homepage-li {
  color:black;
  text-shadow: black 1px 1px 10px; /* color offset-x offset-y blur-radius */
  text-align: left;
  margin-bottom: 10px;
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
