/* Profile-Page CSS */

/* Guest Icon */
.user-icon {
  font-size: 100px;
  color: #777;
  border: 3px solid #ccc;
  border-radius: 50%;
  padding: 20px;
  display: block;
  margin: 0 auto;
}

/* Profile Body */
.leftSide {
  height: 100%;
  margin-right: 20px;
  width: 15%;
  margin-left: 5px;
}
.ProfilePage {
  margin-top: 50px;
}
.ProfilePage main {
  height: 460px;
  display: flex;
}
.ProfilePage article {
  flex: 9;
  background-color: #f1f1f1;
  padding: 10px;
  height: 100%;
}
.ProfilePage h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
.ProfilePage div {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

.introduction {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}
.courses {
  height: 100%;
}

/* Right Div */

.rightSide {
  border-radius: 10px;
  border: transparent;
  height: 100%;
  width: 85%;
}

/* Comments */
.addComment {
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
  width: 12%;
  height: 50px;
  margin-left: 44%;
}
.ProfilePage footer div {
  display: flex;
  justify-content: space-between;
  border: transparent;
  border-radius: 10px;
  margin-top: 2%;
}
.reviews {
  background-color: #ccc;
  flex: 1; 
  text-align: center;
  margin: 0 10px;  
  color: black;
}
